<header id="rtsHeader">

    <div class="header-topbar header-topbar1">
        <div class="container">
            <div class="header-top-area">
                <div class="slider-div">
                    <div class="swiper rts-topSlide1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <h3 class="welcome-text">Convierte tu idea en algo único
                                    <a href="#">Diseña ahora</a>
                                </h3>
                            </div>
                            <div class="swiper-slide">
                                <h3 class="welcome-text">Personalizados hechos para ti
                                    <a href="#">Ver opciones</a>
                                </h3>
                            </div>
                            <div class="swiper-slide">
                                <h3 class="welcome-text">Regalos que sí se recuerdan
                                    <a href="#">Descubrir</a>
                                </h3>
                            </div>
                            <div class="swiper-slide">
                                <h3 class="welcome-text">Tú imaginas, nosotros lo creamos<a href="#">
                                    Cuéntanos tu idea</a></h3>
                            </div>
                        </div>
                        <div class="slider-navigation2">
                            <div class="swiper-button-prev slider-btn prev"><i class="rt rt-arrow-left-long"></i>
                            </div>
                            <div class="swiper-button-next slider-btn next"><i class="rt rt-arrow-right-long"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar-sticky">
        <div class="container">
            <div class="navbar-part navbar-part1">
                <div class="navbar-inner">
                    <div class="left-side">
                        <div class="hamburger-1">
                            <a href="#" class="nav-menu-link">
                                <span class="dot1"></span>
                                <span class="dot2"></span>
                                <span class="dot3"></span>
                                <span class="dot4"></span>
                                <span class="dot5"></span>
                                <span class="dot6"></span>
                                <span class="dot7"></span>
                                <span class="dot8"></span>
                                <span class="dot9"></span>
                            </a>
                        </div>

                        <a href="{% url 'home' %}" class="logo"><img src="/static/images/logo1.svg"
                                                                     alt="weiboo-logo"></a>
                    </div>
                    <div class="rts-menu">
                        <nav class="menus menu-toggle">
                            <ul class="nav__menu">

                                <li class="has-dropdown"><a class="menu-item"
                                                            href="{% url 'home' %}">Inicio </a></li>

                                <li class="has-dropdown"><a class="menu-item" href="#">Productos <i
                                        class="rt-plus"></i></a>
                                    <ul class="dropdown-ul">
                                        {% for categoria in categorias %}
                                            <li class="dropdown-li">
                                                <a class="dropdown-link"
                                                   href="{% url 'productos:productos_por_categoria' categoria.id_categoria %}">
                                                    {{ categoria.nombre }}
                                                </a>
                                            </li>
                                        {% empty %}
                                            <li class="dropdown-li">
                                                <span class="dropdown-link">No hay categorías disponibles</span>
                                            </li>
                                        {% endfor %}
                                        <li class="dropdown-li"><a class="dropdown-link"
                                                                   href="{% url 'productos:producto_list' %}">Todos
                                            los productos</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="has-dropdown"><a class="menu-item" href="#">Diseña tu idea <i
                                        class="rt-plus"></i></a>
                                    <ul class="dropdown-ul">
                                        <li class="dropdown-li"><a class="dropdown-link" href="">Cuéntanos tu
                                            idea</a>
                                        </li>
                                        <li class="dropdown-li"><a class="dropdown-link" href="">Personalizados</a>
                                        </li>
                                        <li class="dropdown-li"><a class="dropdown-link" href="">Casos
                                            realizados</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="has-dropdown"><a class="menu-item" href="#">Ayuda <i class="rt-plus"></i></a>
                                    <ul class="dropdown-ul">
                                        <li class="dropdown-li"><a class="dropdown-link" href="{% url 'faq' %}">Preguntas
                                            frecuentes</a></li>
                                        <li class="dropdown-li"><a class="dropdown-link" href="{% url 'about' %}">Acerca
                                            de</a></li>
                                    </ul>
                                </li>
                                <li><a class="menu-item" href="{% url 'contact' %}">Contacto</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="responsive-hamburger">
                        <div class="hamburger-1">
                            <a href="#" class="nav-menu-link">
                                <span class="dot1"></span>
                                <span class="dot2"></span>
                                <span class="dot3"></span>
                                <span class="dot4"></span>
                                <span class="dot5"></span>
                                <span class="dot6"></span>
                                <span class="dot7"></span>
                                <span class="dot8"></span>
                                <span class="dot9"></span>
                            </a>
                        </div>
                    </div>
                    <div class="header-action-items header-action-items1">
                        <div class="search-part">
                            <div class="search-icon action-item icon"><i class="rt-search"></i></div>
                            <div class="search-input-area">
                                <div class="container">
                                    <div class="search-input-inner">
                                        <div class="input-div">
                                            <input id="searchInput1" class="search-input" type="text"
                                                   placeholder="Search by keyword or #">
                                        </div>
                                        <div class="search-close-icon"><i class="rt-xmark"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <a href="{% url 'account' %}" class="account">
                            {% if user.is_authenticated %}
                                <span class="user-initial"> {{ user.first_name|slice:":1"|upper }}{{ user.last_name|slice:":1"|upper }}</span>
                            {% else %}
                                <i class="rt-user-2"></i>
                            {% endif %}
                        </a>


                        <div class="cart action-item">
                            <div class="cart-nav">
                                <div class="cart-icon icon">
                                    <a href="#0">
                                        <i aria-hidden="true" class="fas fa-shopping-basket"></i>
                                    </a>
                                    <span id="header-cart-badge" class="wishlist-dot icon-dot">0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header cart -->
    <div class="cart-bar">
        <div class="cart-header">
            <h3 class="cart-heading">MI CARRITO (<span id="cart-count">0</span> ITEMS)</h3>
            <div class="close-cart"><i class="fal fa-times"></i></div>
        </div>

        <div class="product-area" id="header-product-area">
            <!-- JS rellenará con items -->
            <div class="empty-cart-message">Cargando...</div>
        </div>

        <div class="cart-bottom-area">
            <span class="spend-shipping"><i class="fal fa-truck"></i> HACEMOS ENVÍOS <span class="amount">LOCALES</span></span>
            <span class="total-price">TOTAL: <span class="price" id="header-total">$0.00</span></span>
            <a href="{% url 'productos:cart' %}" class="view-btn cart-btn">VER CARRITO</a>
        </div>
    </div>


    <!-- slide-bar start -->
    <aside class="slide-bar">
        <div class="offset-sidebar">
            <a class="hamburger-1 mobile-hamburger-1 ml--30" href="#"><span><i class="rt-xmark"></i></span></a>
        </div>
        <!-- offset-sidebar start -->
        <div class="offset-sidebar-main">
            <div class="offset-widget mb-40">
                <div class="info-widget">
                    <img src="/static/images/logo1.svg" alt="">
                    <p class="mb-30">
                        We must explain to you how all seds this mistakens idea denouncing pleasures and praising
                        account.
                    </p>
                </div>
                <div class="info-widget info-widget2">
                    <h4 class="offset-title mb-20">Get In Touch </h4>
                    <ul>
                        <li class="info phone"><a href="tel:78090790890208806803">780 907 908 90, 208 806 803</a></li>
                        <li class="info email"><a href="email:pixcelsthemes@gmail.com">pixcelsthemes@gmail.com</a></li>
                        <li class="info web"><a href="www.webexample.com">www.webexample.com</a></li>
                        <li class="info location">13/A, New Pro State, NYC</li>
                    </ul>
                    <div class="offset-social-link">
                        <h4 class="offset-title mb-20">Follow Us </h4>
                        <ul class="social-icon">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- offset-sidebar end -->
        <!-- side-mobile-menu start -->
        <nav class="side-mobile-menu side-mobile-menu1">
            <ul id="mobile-menu-active">

                <li><a class="mm-link" href="{% url 'home' %}">Inicio</a></li>

                <li class="has-dropdown firstlvl">
                    <a class="mm-link" href="">Productos <i class="rt-angle-down"></i></a>

                    <ul class="sub-menu mega-dropdown-mobile">
                        <li class="mega-dropdown-li">
                            <ul class="mega-dropdown-ul mm-show">

                                {% for categoria in categorias %}
                                    <li class="dropdown-li"><a class="dropdown-link"
                                                               href="{% url 'productos:productos_por_categoria' categoria.id_categoria %}">{{ categoria.nombre }}</a>
                                    </li>
                                {% empty %}
                                    <li class="dropdown-li"><span
                                            class="dropdown-link">No hay categorías disponibles</span>
                                    </li>
                                {% endfor %}
                                <li class="dropdown-li"><a class="dropdown-link"
                                                           href="{% url 'productos:producto_list' %}">Todos
                                    los productos</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </li>
                <li class="has-dropdown firstlvl">
                    <a class="mm-link" href="">Diseña tu idea <i class="rt-angle-down"></i></a>
                    <ul class="sub-menu">
                        <li><a href="">Cuéntanos tu idea</a></li>
                        <li><a href="">Personalizados</a></li>
                        <li><a href="">Casos realizados</a></li>
                    </ul>
                </li>
                <li class="has-dropdown firstlvl">
                    <a class="mm-link" href="">Ayuda <i class="rt-angle-down"></i></a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'faq' %}">Preguntas frecuentes</a></li>
                        <li><a href="{% url 'about' %}">Acerca de</a></li>

                    </ul>
                </li>
                <li><a class="mm-link" href="{% url 'contact' %}">Contacto</a></li>
            </ul>
        </nav>
    
    
    
    
        <div class="header-action-items header-action-items1 header-action-items-side">
            <div class="search-part">
                <div class="search-icon action-item icon"><i class="rt-search"></i></div>
                <div class="search-input-area">
                    <div class="container">
                        <div class="search-input-inner">
                            <select id="custom-select">
                                <option value="hide">All Catagory</option>
                                <option value="all">All</option>
                                <option value="men">Men</option>
                                <option value="women">Women</option>
                                <option value="shoes">Shoes</option>
                                <option value="shoes">Glasses</option>
                                <option value="shoes">Bags</option>
                                <option value="shoes">Assesories</option>
                            </select>
                            <div class="input-div">
                                <div class="search-input-icon"><i class="rt-search mr--10"></i></div>
                                <input class="search-input" type="text" placeholder="Search by keyword or #">
                            </div>
                            <div class="search-close-icon"><i class="rt-xmark"></i></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="cart action-item">
                <div class="cart-nav">
                    <div class="cart-icon icon"><i class="rt-cart"></i><span id="header-cart-badge-movil"
                                                                             class="wishlist-dot icon-dot">0</span>
                    </div>
                </div>
            </div>

            <a href="{% url 'account' %}" class="account"><i class="rt-user-2"></i></a>
        </div>
    
        <!-- side-mobile-menu end -->
    </aside>


    <div class="page-path">
        <div class="container">
            <div class="breadcrumbs-inner">
                <h1 class="path-title">{{ title }}</h1>
                <ul>
                    <li><a class="home-page-link" href="{% url 'home' %}">{{ subTitle }}<i
                            class="fal fa-angle-right"></i></a></li>
                    <li><a class="current-page" href="">{{ subTitle2 }}</a></li>
                </ul>
            </div>
        </div>
    </div>


    <script>
        (function () {
            const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            function fetchJSON(url, options) {
                return fetch(url, options).then(r => {
                    if (!r.ok) throw new Error('HTTP ' + r.status);
                    return r.json();
                });
            }

            // --- Renderiza items en header a partir del JSON que devuelve cart-data ---
            function renderHeader(items, total) {
                const container = document.getElementById('header-product-area');
                const countEl = document.getElementById('cart-count');
                const totalEl = document.getElementById('header-total');
                const badgeEl = document.getElementById('header-cart-badge'); // 👈 NUEVO
                const badgeElMovil = document.getElementById('header-cart-badge-movil');
                if (!container) return;


                if (!items || items.length === 0) {
                    container.innerHTML = '<div class="empty-cart">Tu carrito está vacío</div>';
                    countEl.innerText = '0';
                    totalEl.innerText = '$0.00';
                    if (badgeEl) badgeEl.innerText = '0'; // 👈
                    if (badgeElMovil) badgeElMovil.innerText = '0'; // 👈
                    return;
                }

                countEl.innerText = items.reduce((s, i) => s + i.cantidad, 0);
                const totalItems = items.reduce((s, i) => s + i.cantidad, 0);// 👈
                totalEl.innerText = '$ ' + parseFloat(total).toFixed(2);
                if (badgeEl) badgeEl.innerText = totalItems; // 👈
                if (badgeEl) badgeElMovil.innerText = totalItems; // 👈

                // construir HTML de cada item
                container.innerHTML = items.map(item => {
                    return `
            <div class="product-item" data-item="${item.id}">
                <div class="product-detail">
                    <div class="product-thumb"><img src="${item.imagen}" alt="product-thumb" ></div>
                    <div class="item-wrapper">
                        <span class="product-name">${escapeHtml(item.nombre)}</span>

                            <div class="item-wrapper"> 
                                ${item.variante ? `
                                <small class="product-variant text-muted">${escapeHtml(item.variante)}</small>` : ''}
                            </div>


                        <div class="item-wrapper">
                            <div class="item-wrapper">
                                <span class="product-qnty">${item.cantidad} ×</span>
                                <span class="product-price">$ ${parseFloat(item.precio_unitario).toFixed(2)}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-edit">
                    <div class="quantity-edit">
                        <button class="button header-minus" data-item="${item.id}"><i class="fal fa-minus"></i></button>
                        <input type="text" class="input header-qty" value="${item.cantidad}" readonly />
                        <button class="button header-plus" data-item="${item.id}"><i class="fal fa-plus"></i></button>
                    </div>
                    <div class="item-wrapper d-flex mr--5 align-items-center">
                        <a href="#" class="delete-cart" data-item="${item.id}"><i class="fal fa-times"></i></a>
                    </div>
                </div>
            </div>
            `;
                }).join('');
            }

            // sanitize simple text
            function escapeHtml(text) {
                return String(text)
                    .replace(/&/g, '&amp;')
                    .replace(/</g, '&lt;')
                    .replace(/>/g, '&gt;')
                    .replace(/"/g, '&quot;')
                    .replace(/'/g, '&#039;');
            }

            // --- obtiene el estado actual del carrito (llama a tu view cart_data) ---
            function refreshHeaderCart() {
                fetchJSON("{% url 'productos:cart_data' %}")
                    .then(data => {
                        renderHeader(data.items, data.total);
                    })
                    .catch(err => {
                        console.error('Error cargando cart_data', err);
                    });
            }

            // --- acciones: actualizar cantidad / eliminar: usan los endpoints ya existentes ---
            function postActualizar(itemId, cantidad) {
                const fd = new FormData();
                fd.append('item_id', itemId);
                fd.append('cantidad', cantidad);

                return fetch("{% url 'productos:actualizar_item_carrito' %}", {
                    method: 'POST',
                    headers: {'X-CSRFToken': csrftoken},
                    body: fd
                }).then(r => r.json());
            }

            function postEliminar(itemId) {
                const fd = new FormData();
                fd.append('item_id', itemId);

                return fetch("{% url 'productos:eliminar_item_carrito' %}", {
                    method: 'POST',
                    headers: {'X-CSRFToken': csrftoken},
                    body: fd
                }).then(r => r.json());
            }

            // --- actualiza la fila del template cart si existe en la página (sin recargar) ---
            function updateCartPageRow(itemData) {
                // itemData: {id, cantidad, subtotal, total} asumido según respuesta del backend
                const row = document.querySelector(`tr[data-item="${itemData.id}"]`);
                if (!row) return;

                const input = row.querySelector('input');
                if (input) input.value = itemData.cantidad;

                const subtotalEl = document.getElementById(`subtotal-${itemData.id}`);
                if (subtotalEl) subtotalEl.innerText = '$ ' + parseFloat(itemData.subtotal).toFixed(2);

                const totalEl = document.getElementById('total');
                if (totalEl) totalEl.innerText = '$ ' + parseFloat(itemData.total).toFixed(2);
            }

            // --- delegado de eventos en header para plus/minus/delete ---
            document.addEventListener('click', function (e) {
                const plusBtn = e.target.closest('.header-plus');
                if (plusBtn) {
                    e.preventDefault();
                    const itemId = plusBtn.dataset.item;
                    // obtener cantidad actual (del input) +1 o pedir al servidor actualice
                    const input = document.querySelector(`.product-item[data-item="${itemId}"] .header-qty`);
                    let cantidad = parseInt(input ? input.value : '1') + 1;
                    plusBtn.disabled = true;
                    postActualizar(itemId, cantidad)
                        .then(data => {
                            // data.cantidad, data.subtotal, data.total esperados
                            refreshHeaderCart(); // re-popula header desde server (estado fuente)
                            if (data && !data.error) updateCartPageRow({
                                id: itemId,
                                cantidad: data.cantidad,
                                subtotal: data.subtotal,
                                total: data.total
                            });
                        })
                        .finally(() => plusBtn.disabled = false);
                    return;
                }

                const minusBtn = e.target.closest('.header-minus');
                if (minusBtn) {
                    e.preventDefault();
                    const itemId = minusBtn.dataset.item;
                    const input = document.querySelector(`.product-item[data-item="${itemId}"] .header-qty`);
                    let cantidad = Math.max(1, (parseInt(input ? input.value : '1') - 1));
                    minusBtn.disabled = true;
                    postActualizar(itemId, cantidad)
                        .then(data => {
                            refreshHeaderCart();
                            if (data && !data.error) updateCartPageRow({
                                id: itemId,
                                cantidad: data.cantidad,
                                subtotal: data.subtotal,
                                total: data.total
                            });
                        })
                        .finally(() => minusBtn.disabled = false);
                    return;
                }

                const del = e.target.closest('.delete-cart');
                if (del) {
                    e.preventDefault();
                    const itemId = del.dataset.item;

                    del.disabled = true;
                    postEliminar(itemId)
                        .then(data => {
                            refreshHeaderCart();
                            if (data && !data.error) {
                                const row = document.querySelector(`tr[data-item="${itemId}"]`);
                                if (row) row.remove();

                                const totalEl = document.getElementById('total');
                                if (totalEl && data.total !== undefined) {
                                    totalEl.innerText = '$ ' + parseFloat(data.total).toFixed(2);
                                }
                            }
                        })
                        .finally(() => del.disabled = false);
                    return;
                }

            });

            // inicializar
            document.addEventListener('DOMContentLoaded', function () {
                refreshHeaderCart();
                // opcional: refrescar cada X minutos: setInterval(refreshHeaderCart, 1000 * 60 * 2);
            });

            // Exponer para que otras partes del sitio puedan refrescar el header
            window.refreshHeaderCart = refreshHeaderCart;
        })();
    </script>

</header>