<!DOCTYPE html>
<html lang="es" class="darkmode" data-theme="light">

{% include  "partials/head.html" with css=css %}

<body>
<!-- en tu <head> (layout/layout.html), 1 sola vez -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />


  <meta name="csrf-token" content="{{ csrf_token }}">
    <!-- ..::Preloader Section Start Here::.. -->
    {% include  "partials/preloader.html" %}
    <!-- ..::Preloader End Here::.. -->

    <div class="anywere"></div>

        {% if title %}
        {% include  "partials/header.html" %}
        {% endif %}

        {% block content %}

        
        {% endblock %} 

        {% if footer %}
        {% include  "partials/footer.html" %}
        {% endif %}

    {% include  "partials/scroll.html" %}

    {% include  "partials/script.html" with script=script %}

    {% block script %}

    {% endblock %}  


</body>

</html>